# API keys and secrets
frontend/.env
backend/.env

# Dependency directory
frontend/node_modules
backend/node_modules
frontend/build
backend/build

# Ignore built ts files
frontend/dist/**/*
backend/dist/**/*

# Logging files
frontend/*.log
backend/*.log

api-contract/node_modules

frontend/.eslintcache